* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* ff 3.6+ */
  /* safari 5.1+,chrome 10+ */
  /* opera 11.10+ */
  /* ie 10+ */
  /* global 92%+ browsers support */
  background: radial-gradient(circle at 20% 50%, #002853 0%, #040c18 100%);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#clock {
  color: white;
}
